/PropertyTycoonGame/nbproject/private/
/PropertyTycoonGame/build/
.DS_Store
PropertyTycoonGame/.DS_Store
/PropertyTycoonGame/dist/
*.xml
PropertyTycoonGame/nbproject/private/private.xml
PropertyTycoonGame/nbproject/private/private.xml
PropertyTycoonGame/nbproject/private/private.xml
